.deliveryRating {
    &__text {
        margin-bottom: 5px;
    }

    .stars {
        display: inline-block;
       
        &__item {
            float: right;
            color: #ddd;
            padding: 10px 5px;
            cursor: pointer;

            &__active{
                color:#fafa1f;
            }

            .fa{
                pointer-events: none;
            }
        }

        &__item:hover,
        &__item:hover ~ li {
            color: #fafa1f;
        }
    }

    margin-bottom: 20px;

}