.currentPage{
    margin-top: 15px;
    font-size: 0.8rem;
    color: darken($color5,15%);

    @include phone{
        font-size: 0.6rem;
    }

    @include tablet{
        font-size: 0.6rem;
    }

    .fas{
        color: $color4;
        margin: 0 5px;
    }

    &__item{
        margin: 0 5px;
        &--active{
            color: $color3;
            font-weight: 500;
        }
    }
}