.oneRestaurant__main {
    min-height: 100vh;
    width: 100%;
}

.oneRestaurant__container {
    margin-top: 100px;
    width: 100%;
    display: flex;
    align-items: flex-start;
    min-height: 50vh;

    .oneRestaurantMenu {
        width: 75%;
    }

    .dishOrder {
        margin-top: 20px;
        background-color: black;
        color: white;
        font-weight: 500;
        font-size: 1.4rem;
        width: 100%;
        padding: 15px;
        border-radius: 5px;

        &:disabled,
        &[disabled] {
            cursor: not-allowed;
        }
    }
}



