.startPage {
    width: 100%;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.3);
    background-image: url('https://oszi91.github.io/GetTheFood/images/background.jpg');
    background-size: cover;
    background-position: center;
}

.searchPlace {
    background-color: rgba(0, 0, 0, 0.3);
    width: 100%;
    height: 100vh;
    border-radius: 0 0 50px 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    
    &__text {
        color: white;
        font-size: 4rem;
        margin-bottom: 30px;
        font-weight: 800;

        @include phone{
            font-size: 2.5rem;
            text-align: center;
            margin: 0 5px 20px 5px;
        }

        &--smaller {
            font-size: 2rem;
            font-weight: 700;
            margin-bottom: 20px;

            @include phone{
                font-size: 1.5rem;
                text-align: center;
            }
        }
    }
}