.allRestaurants__main {
    min-height: 100vh;
    width: 100%;
}

.allRestaurants__container {
    margin-top: 30px;
    width: 100%;
    display: flex;
    align-items: flex-start;
    min-height: 50vh;

    .allRestaurants {
        width: 75%;
        @include phone{
            width: 100%;
        }
    }
}

.info {
    width: 20%;
    height: 20vh;
}

.currentPage{
    margin-top: 15px;
    font-size: 0.8rem;
    color: darken($color5,15%);

    @include phone{
        font-size: 0.6rem;
    }

    .fas{
        color: $color4;
        margin: 0 5px;
    }

    &__item{
        margin: 0 5px;
        &--active{
            color: $color3;
            font-weight: 500;
        }
    }
}

.react-multiple-carousel__arrow{
    right: 0 !important;
    background: $color3 !important;
}

.react-multiple-carousel__arrow--left{
    left: 0% !important;
}