.allRestaurantsPhoto {
    width: 100%;
    position: relative;

    &__text {
        display: block;
        position: absolute;
        color: $color1;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
        font-size: 3rem;
        font-weight: 800;
        z-index: 1;
        text-align: center;

        @include phone{
            font-size: 1.5rem;
            left: 5%;
            right: 5%;
            transform: none;
        }

    }

    &__img {
        display: block;
        height: 35vh;
        width: 100%;
        object-fit: cover;
        object-position: 100% 50%;
        filter: grayscale(75%);

        @include phone{
            height: 25vh;
            object-position: 100% 0;
        }

        @include tablet{
            height: 25vh;
            object-position: 100% 0;
        }
    }
}