.dishesList__item {
    width: 32%;
    margin: 15px 0;
    cursor: pointer;

    @include phone{
        width: 100%;
    }

    .oneDishView {
        display: flex;
        width: 100%;
        flex-direction: column;
        justify-content: space-evenly;
        min-height: 150px;
        overflow: hidden;
        border-radius: 15px;
        box-shadow: 2px 7px 20px 3px rgba($color: $color2, $alpha: 0.25);
        padding: 15px;
        transition: .2s ease-in;

        &:hover{
            box-shadow: 2px 7px 30px 3px rgba($color: darken($color4,10%), $alpha: 0.25);
        }
       

        &__name {
            font-size: 1.6rem;
            margin-bottom: 5px;
            font-weight: 700;
        }

        &__order {
            font-size: 2rem;
            color: darken(#b40d0d, 10%);
        }

        &__ingredients {
            margin-bottom: 15px;
        }

        &__container {
            display: flex;
            align-items: center;
            justify-content: space-between;

        }
    }

    

}