.checkoutContainer {
    margin: 20px 0;
    width: 75%;
    background-color: $color1;
    border-radius: 25px;

    @include phone {
        display: flex;
        width: 100%;
        min-height: 100vh;
        z-index: 999999999;
        position: absolute;
        top: 0;
        left: 0;
        margin: 0;
    }

    .checkout {
        height: 100%;

        @include phone {
            max-width: 100%;
            width: 100%;
        }

        &__header {
            font-size: 3rem;
            font-weight: 700;
            padding: 15px;
            text-align: center;
        }

        &__form {
            display: flex;
            flex-direction: column;
            width: 100%;
            background-color: $color6;
            box-shadow: 2px 7px 10px 3px rgba($color: $color2, $alpha: 0.15);

            &__header {
                padding: 10px;
                font-weight: 700;
                font-size: 1.5rem;
                text-align: center;
            }

            &__inputsContainer {
                display: flex;
                justify-content: space-around;
                flex-wrap: wrap;
                width: 100%;

                &__item {
                    display: flex;
                    flex-direction: column;
                    margin: 10px 0;

                    @include phone {
                        width: 90%;
                    }

                    &__label {
                        padding: 5px 0;
                    }

                    &__input {
                        width: 400px;
                        border-radius: 7px;
                        border: none;
                        box-shadow: 2px 7px 40px 3px rgba($color: $color2, $alpha: 0.15);
                        padding: 10px;
                        transition: 0.3s;
                        border: 2px solid transparent;

                        &:hover, &:focus{
                            border: 2px solid $color4;
                        }

                        &:disabled {
                            background: $color6;
                            cursor: not-allowed;
                            &:hover, &:focus{
                                border: 2px solid transparent;
                            }
                        }

                        @include phone {
                            width: 100%;
                        }
                    }

                    &__error {
                        margin-top: 7px;
                        color: $color3;
                        font-weight: 600;
                    }
                }
            }

            .dishOrder {
                margin: 50px auto;
                width: 50%;

                @include phone {
                    width: 70%;
                    margin: 30px auto;
                }
            }
        }
    }
}

.active {
    font-weight: 600;
}